// Bootstrap brand color customization

/*     brand Colors              */

$brand-primary: $purple-500 !default;
$brand-info: $black-color !default;
$brand-success: $green-500 !default;
$brand-warning: $black-color !default;
$brand-danger: $red-500 !default;
$brand-rose: $rose-500 !default;
$brand-inverse: $black-color !default;